@import "tailwindcss";


:root {

  --color-background: #FAF7F6;

  --color-primary-dark: #121212;

  /* 그레이 스케일 */
  --color-gray-900: #242424;
  --color-gray-700: #54595F;
  --color-gray-500: #9B9B9B;
  --color-gray-200: #DCDCDC;
}

body {
  background: var(--color-background);
  font-family: var(--font-bricolage), var(--font-pretendard), sans-serif;
  color: var(--color-primary-dark);
  letter-spacing: -0.025em;
}

.custom-pagination .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    opacity: 1;
    border: 1px solid white;
    transition: all 0.3s ease;
  }

  .custom-pagination .swiper-pagination-bullet-active {
    background-color: white;
    width: 24px;
    height: 8px;
    border-radius: 12px;
  }
